<div class="container">
  <div class="row">

    <!--  <c:if test="${cart == null}">-->
    <div class="card bg-light mb-3" *ngIf="false">
      <div class="card-header">Information</div>
      <div class="card-body">
        <h4 class="card-title">Empty Cart</h4>
        <p class="card-text">There are no products found in your card, please continue shopping then add
          your products to the cart.</p>

        <div><a class="btn btn-primary" href="/home"> Continue Shopping</a></div>
      </div>
    </div>
    <!--  </c:if>-->
    <!--  <c:if test="${cart != null}">-->
    <div class="col-sm-12 col-md-8 order-line-box">

      <!--      <c:forEach var="cartItem" items="${cart.orderLines}">-->
      <div class="card border-info mb-3">
        <div class="card-header row">
          <div class="col-4">
            <i class="prd-lbl">Price</i><i>cartItem.unitPrice</i>
          </div>
          <div class="col-5">
            <i class="prd-lbl">Quantity</i> <i>cartItem.quantity</i>
          </div>
          <div class="col-3">
            <i class="prd-lbl">Sum</i> <i>cartItem.subtotal</i>
          </div>
        </div>
        <div class="card-body row">
          <img src="cartItem.imageUrl" class="cart-prd-img col-3">
          <div class="col-9">
            <h4 class="card-title">cartItem.product.productName</h4>
            <p class="card-text">cartItem.product.description</p>
          </div>
          <div class="order-line-cmd row">
            <div class="prodcut-cmd-icon ">
              <button type="button" class="btn btn-primary" (click)="addProduct(5)">
                <i class="fa fa-plus"></i>
              </button>
            </div>

            <div class="prodcut-cmd-icon ">
                <button type="button" class="btn btn-danger" (click)="removeProduct(5)">
                  <i class="fa fa-minus"></i>
                </button>
            </div>
          </div>
        </div>
      </div>
      <!--      </c:forEach>-->
    </div>
    <div class="col-sm-12 col-md-4 order-summary-box jumbotron">

      <span class="font-size-2rem">SUMMARY</span><hr>
      <div><i>Total price that you will pay as described bellow</i></div>
      <div class="sum-item subTotal row">
        <div class="col-8 lbl">Sub Total</div>
        <div class="col-4">$cart.subtotal</div>
      </div>
      <div class="sum-item tax row">
        <div class="col-8 lbl">Tax</div>
        <div class="col-4">$cart.tax</div>
      </div>
      <div class="sum-item shipping row">
        <div class="col-8 lbl">Shipping</div>
        <div class="col-4">$cart.shipping</div>
      </div>
      <hr>
      <div class="sum-item total row">
        <div class="col-8 lbl">TOTAL</div>
        <div class="col-4">$cart.total</div>
      </div>

      <div class="sum-btns row">
        <a [routerLink]="['/checkout']" class="btn btn-primary col-12 mr-btm-10">
          <i class="fa fa-credit-card"></i> Proceed to Checkout
        </a>
        <a [routerLink]="['/home']" class="btn btn-primary col-12 mr-btm-10">
          <i class="fa fa-home"></i> Continue shopping
        </a>
      </div>

    </div>
    <!--  </c:if>-->
  </div>
</div>
