<main class="acc-form">

  <div class="container">
    <div class="row justify-content-center mb-1 mx-2">
      <div class="col">
        <h4>Admin Category</h4>
      </div>
<!--      <div class="col-2">-->
<!--        <button type="button" class="btn btn-primary">Save</button>-->
<!--      </div>-->
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="col">
          <div class="card">
            <div class="card-header">Add Category</div>
            <div class="card-body">
              <form [formGroup]="categoryForm" >
                <div class="form-group row">
                  <label for="name" class="col-md-4 col-form-label text-md-right">Category</label>
                  <div class="col-md-6">
                    <input type="text"
                           [formControl]="categoryForm.get('name')"
                           [ngClass]="{'is-invalid': isValid('name')}"
                           id="name"
                           class="form-control"
                           name="name" autofocus>
                    <div *ngIf="hasError('name')" class="invalid-feedback">
                      name is required
                    </div>
                  </div>
                </div>

                <div class="col-md-6 offset-md-4">
                  <button class="btn btn-primary" (click)="onSubmit()" >Save</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

