<main class="acc-form">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Register</div>

        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                       [formControl]="signupForm.get('email')"
                       [ngClass]="{'is-invalid': isValid('email')}"
                       id="email"
                       class="form-control"
                       placeholder="Enter email">
                <div *ngIf="hasError('email', 'required')" class="invalid-feedback">
                  Email address is required
                </div>
                <div *ngIf="hasError('email', 'email')" class="invalid-feedback">
                  Invalid email address
                </div>
                <div *ngIf="userEmailFail" class="invalid-feedback custom-error">
                  {{userEmailIsAlreadyTakenErrorMessage}}
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       [formControl]="signupForm.get('password')"
                       [ngClass]="{'is-invalid': isValid('password')}"
                       class="form-control"
                       id="password"
                       placeholder="Password">
                <div *ngIf="hasError('password', 'required')" class="invalid-feedback">
                  Password is required
                </div>
                <div *ngIf="hasError('password', 'pattern')" class="invalid-feedback">
                  Password must contain at least one number and one uppercase and lowercase letter, and length at least
                  8 characters
                </div>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="name"
                       [formControl]="signupForm.get('name')"
                       [ngClass]="{'is-invalid': isValid('name')}"
                       id="name"
                       class="form-control"
                       placeholder="Enter your name">
                <div *ngIf="hasError('name', 'required')" class="invalid-feedback">
                  Name is required
                </div>

              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text"
                       [formControl]="signupForm.get('phone')"
                       class="form-control"
                       id="phone"
                       placeholder="phone">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="address"
                       [formControl]="signupForm.get('address')"
                       [ngClass]="{'is-invalid': isValid('address')}"
                       id="address"
                       class="form-control"
                       placeholder="Enter your name">
                <div *ngIf="hasError('address', 'required')" class="invalid-feedback">
                  Address is required
                </div>
              </div>
              <!-- Credit Card Information -->
              <div class="card border-success mb-3">
                <div class="card-header">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input"
                             type="checkbox"
                             [checked]="isVendorSignup"
                             (change)="onSignupAsVendorChanged($event)">
                      Signup as a vendor (vendor can create and sell products online)
                    </label>
                  </div>
                </div>

                <div class="card-body" *ngIf="isVendorSignup">
                  <fieldset>
                    <legend>Credit Card Information</legend>
                    <div class="form-group">
                      <label for="visa">Card Type:</label>
                      <div>
                        <input id="visa"
                               type="radio"
                               value="1"
                               [formControl]="signupForm.get('card.cardType.id')"
                               name="cardType">
                        <label for="visa">Visa</label>
                      </div>

                      <div>
                        <input id="master"
                               type="radio"
                               value="2"
                               [formControl]="signupForm.get('card.cardType.id')"
                               name="cardType">
                        <label for="master">Master</label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="holderName">Holder Name</label>
                      <input  type="text"
                              class="form-control"
                              id="holderName"
                              [formControl]="signupForm.get('card.holderName')"
                              [ngClass]="{'is-invalid': isValid('card.holderName')}"
                              class="form-control"
                              placeholder="Enter Card holder name" />
                      <div *ngIf="hasError('card.holderName', 'required')" class="invalid-feedback">
                        Card holder name is required
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="cardNumber">Credit Card Number</label>
                      <input  type="text"
                              class="form-control"
                              id="cardNumber"
                              [formControl]="signupForm.get('card.cardNumber')"
                              [ngClass]="{'is-invalid': isValid('card.cardNumber')}"
                              class="form-control"
                              placeholder="16 digits" />
                      <div *ngIf="hasError('card.cardNumber', 'required')" class="invalid-feedback">
                        Credit card number is required
                      </div>
                      <div *ngIf="hasError('card.cardNumber', 'pattern')" class="invalid-feedback">
                        Invalid Credit card number, it must be 16 digits
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="cardNumber">CCV</label>
                        <input  type="text"
                                class="form-control"
                                id="ccv"
                                [formControl]="signupForm.get('card.ccv')"
                                [ngClass]="{'is-invalid': isValid('card.ccv')}"
                                class="form-control"
                                placeholder="3 digits" />
                        <div *ngIf="hasError('card.ccv', 'required')" class="invalid-feedback">
                          CCV is required
                        </div>
                        <div *ngIf="hasError('card.ccv', 'pattern')" class="invalid-feedback">
                          Invalid CCV, it must be 3 digits
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="expireDate">Expire Date</label>
                        <input  type="text"
                                class="form-control"
                                id="expireDate"
                                [formControl]="signupForm.get('card.expireDate')"
                                [ngClass]="{'is-invalid': isValid('card.expireDate')}"
                                class="form-control"
                                placeholder="MM/DD" />
                        <div *ngIf="hasError('card.expireDate', 'required')" class="invalid-feedback">
                          Expire date is required
                        </div>
                        <div *ngIf="hasError('card.expireDate', 'pattern')" class="invalid-feedback">
                          Invalid expire date, must be MM/DD
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

              </div>
              <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Register</button>

            </fieldset>

            <p> form: {{signupForm.value | json}}</p>
            <p> Ss Invalid: {{signupForm.invalid}}</p>
            <p> Ss Invalid: {{signupForm.errors | json}}</p>
          </form>

        </div>
      </div>
    </div>
  </div>
</main>
