<div class="container">
  <div class="row justify-content-center">
    <button class="btn btn-primary adv-search"
            type="button"
            data-toggle="collapse"
            data-target="#collapseSearch"
            aria-expanded="false"
            aria-controls="collapseSearch">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </button>
    <div class="col-12">
      <div class="collapse row" id="collapseSearch">
        <div class="card card-body col-md-12 col-sm-12 adv-search-crd">
          <form [formGroup]="searchForm" (ngSubmit)="OnSubmit()">

            <fieldset>
              <div class="form-group">
                <label for="productName">Search</label>
                <input type="text" [formControl]="searchForm.get('productName')"
                       id="productName"
                       name="productName"
                       class="form-control"
                       placeholder="Search text"
                       max="100">
              </div>
              <div class="row">
                <div class="form-group col-4">
                  <label for="vendorName">Vendor</label>
                  <input type="text" [formControl]="searchForm.get('vendorName')"
                         id="vendorName"
                         class="form-control"
                         placeholder="Vendor name"
                         max="50">
                </div>
                <div class="form-group col-4">
                  <label for="categoryName">Category</label>
                  <input type="text" [formControl]="searchForm.get('categoryName')"
                         class="form-control"
                         id="categoryName"
                         placeholder="Category name"
                         max="50">
                </div>
                <div class="form-group col-2">
                  <label for="priceFrom">Price From</label>
                  <input type="number" [formControl]="searchForm.get('priceFrom')"
                         step="0.01"
                         class="form-control"
                         id="priceFrom"/>
                </div>
                <div class="form-group col-2">
                  <label for="priceTo">Price To</label>
                  <input type="number" [formControl]="searchForm.get('priceTo')"
                         step="0.01"
                         class="form-control"
                         id="priceTo"/>
                </div>
              </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search-plus"></i> Search
            </button> &nbsp;
            <button type="button" class="btn btn-primary" (click)="clear()">
              <i class="fa fa-eraser" aria-hidden="true"></i> clear
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- Products Catalog -->
    <div class="col-12">
      <div class="row">
        <div *ngFor="let product of (lstProduct | async)?.data"
             class="col-xs-12 col-md-4 col-sm-6 hh-50 product-box-lg">
          <div class="img-box">
            <a [routerLink]="['/product', product.id]">
              <img src="{{hostUrl + product.imageUrl}}" class="prd-img-lg">
            </a>
            <div class="brd img-box-p r-btm-5 shw-hdn col-12">
              <a [routerLink]="['/product', product.id]">
                <div class="row">
                  <div class="head-text col-9">{{product.name}}</div>
                  <div class="col-3"></div>
                  <div class="prd-cat-price">
                    <span [class.strike-red]="product.promotionPrice != 0">{{product.price | currency }}</span>
                    &nbsp;<span *ngIf="product.promotionPrice != 0">{{product.promotionPrice | currency }}</span>
                  </div>
                </div>
                <div class="details-text row">{{product.shortDescription}}</div>
              </a>

              <div class="add-cart">
                <button type="submit" class="btn btn-primary btn-add-cart" (click)="addToCart(product)">
                  <i class="fa fa-cart-plus fa-lg"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
