<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['home']" style="font-family: 'Agency FB'; font-size: 2em">
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      <span style="margin:3px;"><strong style="color:#ffd43b;">e</strong>Buy</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['my-orders', authService.currentUser.id]" *ngIf="authService.isAuthenticated">My Orders</a>
        </li>

        <li class="nav-item dropdown" *ngIf="authService.isAuthenticated">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="admin" aria-expanded="false">
            Admin <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="admin">
            <a class="dropdown-item" [routerLink]="['manage-users']">Manage Users</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['product-list']">Manage Products</a>
            <a class="dropdown-item" [routerLink]="['approve-product']">Review Products</a>
            <a class="dropdown-item" [routerLink]="['rejected-product']">Rejected Products</a>
            <a class="dropdown-item" [routerLink]="['categories']">Manage Categories</a>

          </div>
        </li>
      </ul>
      <div class="m-2">
        <!-- Cart  -->
        <a [routerLink]="['/cart']" class="mr-1 white">
          <i class="fa fa-lg fa-shopping-cart" aria-hidden="true"></i>
          <i class="cart-ico" *ngIf="true">{{(shoppingService.getCart() | async)?.count}}</i>
          <!-- Todo: check cart items count if zero then ngIf=false -->
        </a>
      </div>

      <!-- User image -->
      <a [routerLink]="['edit-profile']" *ngIf="authService.isAuthenticated">
        <img class="user-small-img"
             src="{{hostUrl + '/uploads/profile-photo.png'}}"
             alt="avatar"
        *ngIf="authService.currentUser.imageUrl ==''">
        <img class="user-small-img"
             src="{{hostUrl + authService.currentUser.imageUrl}}"
             alt="avatar"
             *ngIf="authService.currentUser.imageUrl !=''">
      </a>
      <!-- Login -->
      <a class="nav-link" style="color:white" [routerLink]="['login']" *ngIf="!authService.isAuthenticated">
        Login
      </a>
      <!-- user name -->
      <a class="nav-link" class="white pd-lft-1" [routerLink]="['edit-profile']"
         *ngIf="authService.isAuthenticated">Hello, {{authService.currentUser.name}}
      </a>
      <!-- Logout -->
      <a class="nav-link" style="color:white" *ngIf="authService.isAuthenticated"
         (click)="authService.logout()">Logout
      </a>
    </div>
  </nav>
</header>
<!--<section class="container">-->
<!--  <app-product-search></app-product-search>-->
<!--</section>-->
<section class="container">
  <router-outlet></router-outlet>
</section>
<footer class="footer bg-primary row">
  <div class="footer-left col-xs-12 col-sm-12 col-md-4">
    <a href="http://mumstudents.org/" class="block a-ftr">Company info</a>
    <a href="http://mumstudents.org/" class="block a-ftr">Government relations</a>

  </div>
  <div class="footer-mid col-xs-12 col-sm-12 col-md-4">
    <a href="http://mumstudents.org/" class="block a-ftr">Business sellers</a>
    <a href="https://www.mum.edu/" class="block a-ftr">How to sell</a>
    <a href="https://www.mum.edu/" class="block a-ftr">Registration & Signup</a>
  </div>
  <div class="footer-right col-xs-12 col-sm-12 col-md-4">
    <a href="#" class="block a-ftr">Polices & privacy</a>
    <a href="#" class="block a-ftr">Contact us</a>
    <a href="#" class="block a-ftr">Charity Shop</a>
    <a href="#" class="block a-ftr">eBuy Community</a>
    <i class="icon-twitter"></i>
    <i class="icon-facebook"></i>
    <i class="icon-apple"></i>
    <div class="cpy">
      &copy;2020 MUM and individual contributors.Content is available under <a href="http://mumstudents.org/">these
      licenses</a>
    </div>
  </div>
</footer>
