<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['home']" *ngIf="authService.isAuthenticated"
       style="font-family: 'Agency FB'; font-size: 2em">

      <img src="../assets/images/auction-bid.png" height="40px">
      <strong style="color: #ce2929"> i</strong> <samp>Bid</samp>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" *ngIf="authService.isAuthenticated">Home</a>
        </li>

        <li class="nav-item">

          <a class="nav-link" [routerLink]="['user', authService.currentUser._id, 'auctions']"
             *ngIf="authService.isAuthenticated">My Auctions</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['auctions']" *ngIf="authService.isAuthenticated">Create Auction</a>
        </li>
      </ul>
      <div style="margin-right: 20px" *ngIf="authService.isAuthenticated">
        <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()" >
          <input class="form-control mr-sm-2" type="text" placeholder="Search" [formControl]="searchForm.get('search')">
          <button type="submit"  class="btn btn-secondary my-2 my-sm-0">Search</button>
        </form>
      </div>

      <a [routerLink]="['user/auctions']" *ngIf="authService.isAuthenticated"><img class="user-small-img"
                                                                                   src="{{hostUrl + authService.currentUser.photoUrl}}"
                                                                                   alt="avatar"></a>
      <a class="nav-link" style="color:white" *ngIf="!authService.isAuthenticated" [routerLink]="['login']">Login</a>
      <a class="nav-link" style="color:white" [routerLink]="['home']"
         *ngIf="authService.isAuthenticated">Hello, {{authService.currentUser.name}} </a>
      <a class="nav-link" style="color:white" *ngIf="authService.isAuthenticated"
         (click)="authService.logout()">Logout</a>
    </div>
  </nav>
</header>
<section class="container">
  <router-outlet></router-outlet>
</section>
<footer class="footer bg-primary row">
  <div class="footer-left col-xs-12 col-sm-12 col-md-4">
    <a href="http://mumstudents.org/" class="block a-ftr">CS572 Modern Web Applications</a>

  </div>
  <div class="footer-mid col-xs-12 col-sm-12 col-md-4">
    <a href="http://mumstudents.org/" class="block a-ftr">CS572 Modern Web Applications</a>
    <a href="https://www.mum.edu/" class="block a-ftr">Students life in USA</a>
    <a href="https://www.mum.edu/" class="block a-ftr">Department of Computer Scienc</a>
  </div>
  <div class="footer-right col-xs-12 col-sm-12 col-md-4">
    <a href="#" class="block a-ftr">Polices & privacy</a>
    <i class="icon-twitter"></i>
    <i class="icon-facebook"></i>
    <i class="icon-apple"></i>
    <div class="cpy">
      &copy;2020 MUM and individual contributors.Content is available under <a href="http://mumstudents.org/">these
      licenses</a>
    </div>
  </div>
</footer>
