<h3 style="margin-top: 40px;">Pending Products</h3>

<table class="table table-hover" style="table-layout: fixed;">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th style="width: 20%;"scope="col">Short Description</th>
      <th style="width: 40%;" scope="col">Description</th>
      <th style="width: 5%;"scope="col">Price</th>
      <th scope="col">Vendor</th>
      <th style="width: 15%;"scope="col" colSpan="2">Actions</th>
    </tr>
  </thead>
  <tbody>

     <tr *ngFor="let product of (lstProduct | async)?.data" class="table-secondary" style="word-wrap: break-word;">
      <td>{{product.name}}</td>
      <td  scope="col">{{product.shortDescription}}</td>
      <td scope="col">{{product.description}}</td>
      <td scope="col">{{product.price | currency}}</td>
      <td>{{product.vendorName}}</td>
      <td> <button class="btn success-color" type="button"  (click)="OnAprove(product.id)" >
        <i class="fa fa-check" aria-hidden="true">&nbsp;Approve</i>
      </button> </td>
      <td> <button class="btn danger-color" type="button" (click)="OnReject(product.id)">
        <i class="fa fa-times" aria-hidden="true">&nbsp;Reject</i>
      </button></td>
    </tr>
  </tbody>
</table>
